<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsi" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ws" maxReceivedMessageSize="1048576" >
          <readerQuotas maxStringContentLength="500000000" maxArrayLength="100000"
                      maxBytesPerRead="500000000" maxNameTableCharCount="500000000" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52442/MSDNVideoServices.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="ws" contract="MSDNVideoServices.IMSDNVideoServices"
        name="ws">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAnCmv/ModRW8MFsWZSVfdfUbYmcwgAAAAAQAAAAYCAAAwggICMIIBa6ADAgECAhA4k8r2LFt6k0eHG6G1bSAyMA0GCSqGSIb3DQEBBAUAMBgxFjAUBgNVBAMTDU1TRE5WaWRlb0NlcnQwHhcNMDcwODIwMTUxODI4WhcNMzkxMjMxMjM1OTU5WjAYMRYwFAYDVQQDEw1NU0ROVmlkZW9DZXJ0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDcO5Kv+ZFoZqs8m4mXO8vuUcFi8yimoo9M7dZAXxrg+omPJo0wZFBs/9KcFrUBxSOCXXQ5jlJ+FrKj7Z+KuPVkQPuMQRO4YofOXXijnSYg6B5lXeG95coL53oAdgLj6yewMFJElLDTSWC3g/vH34uMmwxrAhbv3bNuBslBTBOf4QIDAQABo00wSzBJBgNVHQEEQjBAgBA0pHgn+EZznVZE8WdFfLXPoRowGDEWMBQGA1UEAxMNTVNETlZpZGVvQ2VydIIQOJPK9ixbepNHhxuhtW0gMjANBgkqhkiG9w0BAQQFAAOBgQBD324G0T3pMj8BH8+kgsuq9UvnRzke29R0Yp3yHEZbBB+xnmNBt1vxM+vFrbjF3cas68vsALc5JRX/o9pmf2Am04/ysVzdW8K1plZYn2L+gNA0QCpyEC9MEaiY758HYhITEpTWyE7+apJ5SId135k8zcCHeWKzhMzSHuT9Zo50YQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:52442/MSDNVideoServices.svc"
        binding="basicHttpBinding" bindingConfiguration="wsi" contract="MSDNVideoServices.IMSDNVideoServices"
        name="wsi" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="behave">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
